<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path_for('home') }}">Ajajoon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapsible" aria-controls="navbar-collapsible" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbar-collapsible">
        <ul class="navbar-nav ml-auto">
            {% if auth.check() %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('logout') }}">Logi välja</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('login') }}">Logi sisse</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>