<div id="new-user-modal" aria-hidden="true" aria-labelledby="new-user-modal-title" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-user-modal-title">Lisa uus kasutaja</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="new-user-form" action="{{ path_for('add-user') }}" method="POST">
                    <div class="form-group">
                        <label for="email">Eesnimi</label>
                        <input class="form-control" id="new-user-firstname" type="text" name="firstname">
                    </div>
                    <div class="form-group">
                        <label for="email">Perenimi</label>
                        <input class="form-control" id="new-user-lastname" type="text" name="lastname">
                    </div>
                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input class="form-control" id="new-user-email" type="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Salasõna</label>
                        <input class="form-control" id="new-user-password" type="password" name="password">
                    </div>
                     <div class="custom-checkbox">
                        <label for="adminCheckBox">Administraator</label>
                        <input id="new-user-role" type="checkbox" name="admin" value="admin">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Tühista</button>
                <button id="new-user-form-button" class="btn btn-primary" type="button">Lisa</button>
            </div>
        </div>
    </div>
</div>