<div id="share-timeline-modal" aria-hidden="true" aria-labelledby="share-timeline-modal-title" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="share-timeline-modal-title">Jaga sündmust</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="{{ path_for('embeddable', {'id': timeline.id}) }}">
                    <p>Teie brauser ei toeta iframe kuvamist</p> 
                </iframe>
                <div>
                <a class="btn btn-dti ml-3" href="{{ path_for('embeddable', {'id': timeline.id}) }}">Link</a>
                </div>
                <input type="hidden" name="id" id="edit-event-id"></input>             
            </div>
        </div>
    </div>
</div>