{% extends 'layout.twig' %}
{% block body %}
    <div class="container mt-3">
        <div class="row mt-4">
            <div class="col">
                <h3>Sündmused</h3>
            </div>
        </div>
        <div class="list-group mt-4">     
        {% for event in events %}
            <a href="{{ path_for('settings', { 'id': user.id }) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-baseline">
                <span>{{ event.title }} {{ user.lastname }} – {{ user.email }}</span>
            </a>
        {% endfor %}
        </div>
   </div>
{% endblock %}


