{% extends 'layout.twig' %}
{% block body %}
    <div class="container mt-3">
        <div class="row mt-4">
            <div class="col-sm-auto">
                <h3>Sündmused{% block header %}{% endblock %}</h3>
            </div>
            <div class="col-sm">
                <form id="tsearch-form" action="{{ path_for('timelines',  {'id': event.timeline.id }) }}">
                    <div class="input-group mb-3">
                        <input aria-describedby="basic-addon2" aria-label="Otsing" class="form-control" id="tsearch" placeholder="Otsi sündmust" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="tsearchbutton" type="submit">Otsi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="list-group mt-4">     
            {% for event in events %}
                    <div href="#" class="list-group-item d-flex justify-content-between align-items-baseline">
                        <a href="{{ path_for('timeline', {'id': event.timeline.id }) }}" class="getEvent">
                            <span>{{ event.title }}</span>
                        </a>
                    </div>
            {% endfor %}
        </div>
   </div>
{% endblock %}


