{% extends 'layout.twig' %}

{% block body %}
{% if auth.check() %}
    {% include 'app/_new_event_modal.twig' %}
{% endif %}
<div class="container mt-3">
    <div class="row mt-4">
        <div class="col">
            <h3> [Insert timeline name here] </h3>
        </div>
        {% if auth.check() %}
            <div class="col text-right">
                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#new-event-modal" >+ Lisa sündmus</a>
            </div>
        {% endif %}
    </div>
    <div class="timeline-container" >
        <div id="timeline" class="timeline">
            <!-- <div class="timeline-point">
                <div class="point-header">
                    <p>Event name</p>
                    <small>2020</small>
                </div>
            </div> -->
        </div>
    </div>
    <div class="d-flex justify-content-between"><span id="sub-timeline-start"> </span><span id="sub-timeline-end"> </span></div>
    <div class="timeline-container collapse" >
        <div id="sub-timeline" class="timeline">
        </div>
    </div>
    
    <div id="card-event" class="row" style="display: none;">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span id="event-title"></span> - Toimus: <span id="event-time"></span>
                </div>
                <div {# class="card-body" #}>
                    <div class="row">
                        <div class="col">
                            <div id="event-editor-container" class="card-body d-flex flex-column h-100">
                                <div id="event-editor">
                                    <p>[TODO: Sisu tuleb siia...]</p>
                                </div>
                            </div>
                        </div>
                        {% if auth.check() %}
                            <div class="col-4">
                                <p class="mt-4">Toimetaja tööriistad</p>
                                <ul class="list-group">
                                    <a href="#" id="event-edit-title" class="list-group-item list-group-item-action">Muuda pealkirja / kuupäeva</a>
                                    <a href="#" id="event-edit" class="list-group-item list-group-item-action">Muuda sisu</a>
                                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Kustuta sündmus</a>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
