{% extends 'layout.twig' %}

{% block body %}
    {% if auth.check() %}
        {% include 'app/_new_event_modal.twig' %}
        {% include 'app/_edit_event_modal.twig' %}
    {% endif %}
    <div class="container mt-3">
      <div class="float-right">
        <form id="esearch-form" action="{{ path_for('search-events', {'id': timeline.id}) }}">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Otsing" aria-label="Otsing" aria-describedby="basic-addon2" id="esearch">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="esearchbutton">Search</button>
            </div>
          </div>
        </form>
      </div>
        <div class="row mt-4">
            <div class="col">
                <h3>{{ timeline.name }}</h3>
            </div>
            {% if auth.check() %}
                <div class="col text-right">
                    <a class="btn btn-dti" data-target="#new-event-modal" data-toggle="modal" href="#">+ Lisa sündmus</a>
                </div>
            {% endif %}
        </div>
        {% if timeline.events_count == 0 %}
            <div class="jumbotron mt-4">
                <div class="container">
                    <h1 class="display-4">Tere tulemast {{ timeline.name }} ajajoonele</h1>
                    {% if auth.check() %}
                        <p class="lead">See ajajoon on tühi :( <br> Palun lisa sündmus, et alustada.</p>
                        <a class="btn btn-dti btn-lg" data-target="#new-event-modal" data-toggle="modal" href="#">Lisa sündmus</a>
                    {% else %}
                        <p class="lead">Hetkel pole ühtegi sündmust sellel ajajoonel :(</p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div id="timeline" data-url="{{ path_for('get-events', {'id': timeline.id}) }}"></div>
            <div class="collapse" id="sub-timeline"></div>

            <div class="row" id="card-event" style="display: none;">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <span id="event-title"></span>
                            - Toimus:
                            <span id="event-time"></span>
                        </div>
                        <div {# class="card-body" #}>
                            <div class="row">
                                <div class="col">
                                    <div class="card-body d-flex flex-column h-100" id="event-editor-container">
                                        <div id="event-editor" class="ql-editor">
                                            <p>[TODO: Sisu tuleb siia...]</p>
                                        </div>
                                    </div>
                                </div>
                                {% if auth.check() %}
                                    <div class="col-4">
                                        <p class="mt-4">Toimetaja tööriistad</p>
                                        <ul class="list-group">
                                            <a class="list-group-item list-group-item-action" href="#" id="event-edit-title">Muuda pealkirja / kuupäeva</a>
                                            <a class="list-group-item list-group-item-action" href="#" id="event-edit">Muuda sisu</a>
                                            <a class="list-group-item list-group-item-action list-group-item-danger" id="deleteEventButton" href="#">Kustuta sündmus</a>
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
