{% extends 'layout.twig' %}

{% block body %}
{% include 'app/_new_event_modal.twig' %}
<div class="container mt-3">
    <h3> [Insert timeline name here] </h3>
    <div class="timeline-container" >
        <div id="timeline" class="timeline">
            <!-- <div class="timeline-point">
                <div class="point-header">
                    <p>Event name</p>
                    <small>2020</small>
                </div>
            </div> -->
        </div>
    </div>
    <div class="d-flex justify-content-between"><span id="sub-timeline-start"> </span><span id="sub-timeline-end"> </span></div>
    <div class="timeline-container collapse" >
        <div id="sub-timeline" class="timeline">
        </div>
    </div>
    
    <div id="card-event" class="row"{#  style="display: none;" #}>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    None
                </div>
                <div {# class="card-body" #}>
                    <div class="row">
                        <div class="col">
                            <div id="event-editor-container" class="card-body d-flex flex-column h-100">
                                <div id="event-editor">
                                    <p>Select an event to start...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <ul class="list-group mb-4">
                                <a href="#" class="list-group-item list-group-item-action">Pildid</a>
                                <a href="#" class="list-group-item list-group-item-action">Videod</a>
                                <a href="#" class="list-group-item list-group-item-action">Failid</a>
                                <a href="#" class="list-group-item list-group-item-action">Link: Sündmuse leht</a>
                            </ul>
                            <p>Toimetaja tööriistad:</p>
                            <ul class="list-group">
                                <a href="#" id="event-edit" class="list-group-item list-group-item-action">Muuda sündmust</a>
                                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Kustuta sündmus</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
