{% extends 'layout.twig' %}

{% block body %}
    <div class="container mt-3">
        <h1>Parooli muutmine</h1>
        <form method="POST" class="mt-4" action="{{ path_for('change-password', {'id': user.id}) }}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Uus parool</label>
                <div class="col-sm-10">
                    <input class="form-control" name="password" placeholder="Uus parool" type="password">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Kinnita uus parool</label>
                <div class="col-sm-10">
                    <input class="form-control" name="newpassword" placeholder="Kinnita uus parool" type="password">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button class="btn btn-dti" name="submit2" type="submit">Muuda</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
