{% extends 'layout.twig' %}

{#
{% block body %}
    <div class="container mt-3">
        <h1>Users</h1>
        <ul class="list-group list-group-flush">
            {% for user in users %}
                <li class="list-group-item">{{ user.email }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
#}

{% block body %}
    <div class="container mt-3">
        
            <h1>Users</h1>
            <div class="list-group">
                {% for user in users %}
                    <a href="{{ path_for('settings', { 'id': user.id }) }}" class="list-group-item list-group-item-action">{{ user.email }}
                    <button type="button"class="btn btn-outline-danger btn-sm float-right">Delete</button></a>
                {% endfor %}
            </div>
        
    </div>
{% endblock %}


