{% extends 'layout.twig' %}
{% block body %}
    {% include 'app/_new_user_modal.twig' %}
    <div class="container mt-3">
        <div class="row mt-4">
            <div class="col">
                <h3>Kasutajad</h3>
            </div>
            {% if auth.user.inRole('admin') %}  
            <div class="col text-right">
                <a class="btn btn-dti" data-target="#new-user-modal" data-toggle="modal" href="#">+ Lisa kasutaja</a>
            </div>
            {% endif %}
        </div>
        <div class="list-group mt-4">     
        {% for user in users %}
            <a href="{{ path_for('settings', { 'id': user.id }) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-baseline">
                <span>{{ user.firstname }} {{ user.lastname }} – {{ user.email }}</span>
                <button type="button"class="btn btn-outline-danger btn-sm">Delete</button>
            </a>
        {% endfor %}
        </div>
   </div>
{% endblock %}


