@import 'variables';
@import "~bootstrap/scss/bootstrap";
@import "~quill/dist/quill.core.css";
@import '~quill/dist/quill.snow.css';
@import '~@fancyapps/fancybox/dist/jquery.fancybox.css';
@import 'toasts';


.timeline-container {
    text-align: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 0;
        border-top: 1px solid #6bcaba;
        background: #6bcaba;
        width: 100%;
        transform: translateY(-50%);
    }

    .timeline {
        /* display: flex; */
        justify-content: space-between;
        position: relative;
        overflow: visible;
        height: 100px;
        margin: 0 15px;
    }
}



.timeline-point {
    position: absolute;
    transition: background-color 0.2s;
    height: 25px;

    &.active::before{
      background-color: #20c997;
    }

    &::before {
        content: "";
        position: absolute;
        left: -5px;
        width: 10px;
        height: 10px;
        background-color: #b71234;
        border-radius: 50%;
        transition: background-color 0.2s;
    }

    &.point-year:not(:last-child):hover::before {
        background-color: #ff0035;
    }

    &.point-year {
        padding-top: 10px;
        position: absolute;
        transition: background-color 0.2s;
        height: 30px;
        /* min-width: 200px; */
        /* height: 10px;
        background: #0004ff;
        border-radius: 50%; */

        &:not(:last-child):hover {
            background-color: #6bb7ff3d;
        }
    }

    &.point-small {
        pointer-events: none;

        &.active{
          background-color: #20c997;
        }

        &::before {
            margin-top: 10px;
            left: calc(50% - 3px);
            top: 2px;
            width: 6px;
            height: 6px;
            background-color: #ff0035;
        }
    }



    &.point-event {
        position: absolute;
        transition: background-color 0.2s;
        padding-top: 5px;

        &::before {
            left: -10px;
            width: 20px;
            height: 20px;

        }

    }
}

.point-header {
    margin-top: 10px;
    transform: translate(-50%);
    pointer-events: none;
    /* background: white;
    border: 1px solid #c7c7c7; */
    border-radius: 5px;
    padding: 5px;
}

.timeline-title-start {
    position: absolute;
    top: 0;
}

.bg-dti{
  background-color: #6bcaba;
}

.btn-dti{
  color: #ffffff;
  background-color: #6bcaba;
  //background-color: #b71234;
  border-color: #6bcaba;
  //border-color: #b71234;
}

.btn-dti:hover, .btn-dti:focus, .btn-dti:active, .btn-dti.active, .open>.dropdown-toggle.btn-dti {
    color: #fff;
    background-color: #36ccb2;
    border-color: #ffffff; /*set the color you want here*/
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.ql-snow .ql-tooltip.ql-custom {
    max-width: 100%;
}

.ql-snow .ql-tooltip.ql-custom::before {
    content: none;
}

.existing-image {
    max-width: 100px;
}

.ql-snow .ql-editor img.event-thumbnail,
.event-thumbnail {
    max-width: 150px;
}

a.clickable-card,
a.clickable-card:hover {
  color: inherit;
  text-decoration: none;
}

.ql-snow .ql-editor a.event-file {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

span.event-file {
    display: inline-block;
    white-space: nowrap;
}

.ql-snow.ql-toolbar button.ql-file {
    padding: 5px 7px;
}

.tooltip-inner {
    white-space:pre-wrap;
}